# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
out

# Database & SQLite files
*.db
*.db-journal
*.db-wal
banking.db

# Banking & NIBSS spec files (PDF and TXT)
banking.txt
Bankingpdf.pdf
nibss.txt
Nibss_by_Phoenix API DOCS.pdf
*.pdf
*.txt

# Analysis files
project_analysis.md
project analysis.md
